apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fddb-exporter-operator.fullname" . }}
  labels:
    {{- include "fddb-exporter-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "fddb-exporter-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "fddb-exporter-operator.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "fddb-exporter-operator.serviceAccountName" . }}
      containers:
      - name: operator
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
